entrenamosWebClientWS/src/main/publicadores/controlador.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.5 git-revision#7ddc91f. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.5 git-revision#7ddc91f. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://publicadores/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://publicadores/" name="ControladorPublishService">
<types>
<xsd:schema>
<xsd:import namespace="http://publicadores/" schemaLocation="http://127.0.0.1:1942/controlador?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://127.0.0.1:1942/controlador?xsd=2"/>
</xsd:schema>
</types>
<message name="obtenerSociosClase">
<part name="arg0" type="xsd:string"/>
</message>
<message name="obtenerSociosClaseResponse">
<part xmlns:ns1="http://jaxb.dev.java.net/array" name="return" type="ns1:stringArray"/>
</message>
<message name="obtenerProfesor">
<part name="arg0" type="xsd:string"/>
</message>
<message name="obtenerProfesorResponse">
<part name="return" type="tns:dtProfesor"/>
</message>
<message name="obtenerSocio">
<part name="arg0" type="xsd:string"/>
</message>
<message name="obtenerSocioResponse">
<part name="return" type="tns:dtSocio"/>
</message>
<message name="esSocio">
<part name="arg0" type="xsd:string"/>
</message>
<message name="esSocioResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="usuarioEnClase">
<part name="arg0" type="xsd:string"/>
</message>
<message name="usuarioEnClaseResponse">
<part xmlns:ns2="http://jaxb.dev.java.net/array" name="return" type="ns2:stringArray"/>
</message>
<message name="clasesProfe">
<part name="arg0" type="xsd:string"/>
</message>
<message name="clasesProfeResponse">
<part xmlns:ns3="http://jaxb.dev.java.net/array" name="return" type="ns3:stringArray"/>
</message>
<message name="LogIn">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="LogInResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="altaInstitucion">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
</message>
<message name="altaInstitucionResponse"/>
<message name="InstitucionDeportivaRepetidaException">
<part name="fault" element="tns:InstitucionDeportivaRepetidaException"/>
</message>
<message name="listarInstitutos"/>
<message name="listarInstitutosResponse">
<part xmlns:ns4="http://jaxb.dev.java.net/array" name="return" type="ns4:stringArray"/>
</message>
<message name="obtenerInstitucion">
<part name="arg0" type="xsd:string"/>
</message>
<message name="obtenerInstitucionResponse">
<part name="return" type="tns:dtInstitucionDeportiva"/>
</message>
<message name="ModificarInstitucion">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
</message>
<message name="ModificarInstitucionResponse"/>
<message name="altaDictadoClase">
<part name="arg0" type="tns:dtClase"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
<part name="arg3" type="xsd:string"/>
</message>
<message name="altaDictadoClaseResponse"/>
<message name="DictadoRepetidoException">
<part name="fault" element="tns:DictadoRepetidoException"/>
</message>
<message name="listarActividadesDeportivas">
<part name="arg0" type="xsd:string"/>
</message>
<message name="listarActividadesDeportivasResponse">
<part xmlns:ns5="http://jaxb.dev.java.net/array" name="return" type="ns5:stringArray"/>
</message>
<message name="listarProfesores">
<part name="arg0" type="xsd:string"/>
</message>
<message name="listarProfesoresResponse">
<part xmlns:ns6="http://jaxb.dev.java.net/array" name="return" type="ns6:stringArray"/>
</message>
<message name="altaActividadDeportiva">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="tns:dtActividadDeportiva"/>
</message>
<message name="altaActividadDeportivaResponse"/>
<message name="ActividadDeportivaRepetidaException">
<part name="fault" element="tns:ActividadDeportivaRepetidaException"/>
</message>
<message name="listarSocios">
<part name="arg0" type="xsd:string"/>
</message>
<message name="listarSociosResponse">
<part xmlns:ns7="http://jaxb.dev.java.net/array" name="return" type="ns7:stringArray"/>
</message>
<message name="ModificarUsuario">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
<part name="arg3" type="xsd:dateTime"/>
<part name="arg4" type="xsd:string"/>
<part name="arg5" type="xsd:string"/>
<part name="arg6" type="xsd:string"/>
</message>
<message name="ModificarUsuarioResponse"/>
<message name="listarClases2"/>
<message name="listarClases2Response">
<part xmlns:ns8="http://jaxb.dev.java.net/array" name="return" type="ns8:stringArray"/>
</message>
<message name="listarClases">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="listarClasesResponse">
<part xmlns:ns9="http://jaxb.dev.java.net/array" name="return" type="ns9:stringArray"/>
</message>
<message name="registroADictadoClase">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:dateTime"/>
</message>
<message name="registroADictadoClaseResponse"/>
<message name="RegistroAClaseRepetidoException">
<part name="fault" element="tns:RegistroAClaseRepetidoException"/>
</message>
<message name="obtenerUsuario">
<part name="arg0" type="xsd:string"/>
</message>
<message name="obtenerUsuarioResponse">
<part name="return" type="tns:dtUsuario"/>
</message>
<message name="obtenerUsuarioReal">
<part name="arg0" type="xsd:string"/>
</message>
<message name="obtenerUsuarioRealResponse">
<part name="return" type="tns:usuario"/>
</message>
<message name="obtenerClase">
<part name="arg0" type="xsd:string"/>
</message>
<message name="obtenerClaseResponse">
<part name="return" type="tns:dtClase"/>
</message>
<message name="obtenerClaseR">
<part name="arg0" type="xsd:string"/>
</message>
<message name="obtenerClaseRResponse">
<part name="return" type="tns:clase"/>
</message>
<message name="obtenerInstitucionActividad">
<part name="arg0" type="xsd:string"/>
</message>
<message name="obtenerInstitucionActividadResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="obtenerActividad">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="obtenerActividadResponse">
<part name="return" type="tns:dtActividadDeportiva"/>
</message>
<message name="listarUsuarios"/>
<message name="listarUsuariosResponse">
<part xmlns:ns10="http://jaxb.dev.java.net/array" name="return" type="ns10:stringArray"/>
</message>
<message name="obtenerActividadR">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="obtenerActividadRResponse">
<part name="return" type="tns:actividadDeportiva"/>
</message>
<message name="obtenerRankingActividadesDeportivas"/>
<message name="obtenerRankingActividadesDeportivasResponse">
<part xmlns:ns11="http://jaxb.dev.java.net/array" name="return" type="ns11:stringArray"/>
</message>
<message name="obtenerTodasActividadesDeportivas"/>
<message name="obtenerTodasActividadesDeportivasResponse">
<part xmlns:ns12="http://jaxb.dev.java.net/array" name="return" type="ns12:stringArray"/>
</message>
<message name="ModificarActividadDeportiva">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:int"/>
<part name="arg3" type="xsd:float"/>
</message>
<message name="ModificarActividadDeportivaResponse"/>
<portType name="ControladorPublish">
<operation name="obtenerSociosClase">
<input wsam:Action="http://publicadores/ControladorPublish/obtenerSociosClaseRequest" message="tns:obtenerSociosClase"/>
<output wsam:Action="http://publicadores/ControladorPublish/obtenerSociosClaseResponse" message="tns:obtenerSociosClaseResponse"/>
</operation>
<operation name="obtenerProfesor">
<input wsam:Action="http://publicadores/ControladorPublish/obtenerProfesorRequest" message="tns:obtenerProfesor"/>
<output wsam:Action="http://publicadores/ControladorPublish/obtenerProfesorResponse" message="tns:obtenerProfesorResponse"/>
</operation>
<operation name="obtenerSocio">
<input wsam:Action="http://publicadores/ControladorPublish/obtenerSocioRequest" message="tns:obtenerSocio"/>
<output wsam:Action="http://publicadores/ControladorPublish/obtenerSocioResponse" message="tns:obtenerSocioResponse"/>
</operation>
<operation name="esSocio">
<input wsam:Action="http://publicadores/ControladorPublish/esSocioRequest" message="tns:esSocio"/>
<output wsam:Action="http://publicadores/ControladorPublish/esSocioResponse" message="tns:esSocioResponse"/>
</operation>
<operation name="usuarioEnClase">
<input wsam:Action="http://publicadores/ControladorPublish/usuarioEnClaseRequest" message="tns:usuarioEnClase"/>
<output wsam:Action="http://publicadores/ControladorPublish/usuarioEnClaseResponse" message="tns:usuarioEnClaseResponse"/>
</operation>
<operation name="clasesProfe">
<input wsam:Action="http://publicadores/ControladorPublish/clasesProfeRequest" message="tns:clasesProfe"/>
<output wsam:Action="http://publicadores/ControladorPublish/clasesProfeResponse" message="tns:clasesProfeResponse"/>
</operation>
<operation name="LogIn" parameterOrder="arg0 arg1">
<input wsam:Action="http://publicadores/ControladorPublish/LogInRequest" message="tns:LogIn"/>
<output wsam:Action="http://publicadores/ControladorPublish/LogInResponse" message="tns:LogInResponse"/>
</operation>
<operation name="altaInstitucion" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://publicadores/ControladorPublish/altaInstitucionRequest" message="tns:altaInstitucion"/>
<output wsam:Action="http://publicadores/ControladorPublish/altaInstitucionResponse" message="tns:altaInstitucionResponse"/>
<fault message="tns:InstitucionDeportivaRepetidaException" name="InstitucionDeportivaRepetidaException" wsam:Action="http://publicadores/ControladorPublish/altaInstitucion/Fault/InstitucionDeportivaRepetidaException"/>
</operation>
<operation name="listarInstitutos">
<input wsam:Action="http://publicadores/ControladorPublish/listarInstitutosRequest" message="tns:listarInstitutos"/>
<output wsam:Action="http://publicadores/ControladorPublish/listarInstitutosResponse" message="tns:listarInstitutosResponse"/>
</operation>
<operation name="obtenerInstitucion">
<input wsam:Action="http://publicadores/ControladorPublish/obtenerInstitucionRequest" message="tns:obtenerInstitucion"/>
<output wsam:Action="http://publicadores/ControladorPublish/obtenerInstitucionResponse" message="tns:obtenerInstitucionResponse"/>
</operation>
<operation name="ModificarInstitucion" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://publicadores/ControladorPublish/ModificarInstitucionRequest" message="tns:ModificarInstitucion"/>
<output wsam:Action="http://publicadores/ControladorPublish/ModificarInstitucionResponse" message="tns:ModificarInstitucionResponse"/>
</operation>
<operation name="altaDictadoClase" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://publicadores/ControladorPublish/altaDictadoClaseRequest" message="tns:altaDictadoClase"/>
<output wsam:Action="http://publicadores/ControladorPublish/altaDictadoClaseResponse" message="tns:altaDictadoClaseResponse"/>
<fault message="tns:DictadoRepetidoException" name="DictadoRepetidoException" wsam:Action="http://publicadores/ControladorPublish/altaDictadoClase/Fault/DictadoRepetidoException"/>
</operation>
<operation name="listarActividadesDeportivas">
<input wsam:Action="http://publicadores/ControladorPublish/listarActividadesDeportivasRequest" message="tns:listarActividadesDeportivas"/>
<output wsam:Action="http://publicadores/ControladorPublish/listarActividadesDeportivasResponse" message="tns:listarActividadesDeportivasResponse"/>
</operation>
<operation name="listarProfesores">
<input wsam:Action="http://publicadores/ControladorPublish/listarProfesoresRequest" message="tns:listarProfesores"/>
<output wsam:Action="http://publicadores/ControladorPublish/listarProfesoresResponse" message="tns:listarProfesoresResponse"/>
</operation>
<operation name="altaActividadDeportiva" parameterOrder="arg0 arg1">
<input wsam:Action="http://publicadores/ControladorPublish/altaActividadDeportivaRequest" message="tns:altaActividadDeportiva"/>
<output wsam:Action="http://publicadores/ControladorPublish/altaActividadDeportivaResponse" message="tns:altaActividadDeportivaResponse"/>
<fault message="tns:ActividadDeportivaRepetidaException" name="ActividadDeportivaRepetidaException" wsam:Action="http://publicadores/ControladorPublish/altaActividadDeportiva/Fault/ActividadDeportivaRepetidaException"/>
</operation>
<operation name="listarSocios">
<input wsam:Action="http://publicadores/ControladorPublish/listarSociosRequest" message="tns:listarSocios"/>
<output wsam:Action="http://publicadores/ControladorPublish/listarSociosResponse" message="tns:listarSociosResponse"/>
</operation>
<operation name="ModificarUsuario" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6">
<input wsam:Action="http://publicadores/ControladorPublish/ModificarUsuarioRequest" message="tns:ModificarUsuario"/>
<output wsam:Action="http://publicadores/ControladorPublish/ModificarUsuarioResponse" message="tns:ModificarUsuarioResponse"/>
</operation>
<operation name="listarClases2">
<input wsam:Action="http://publicadores/ControladorPublish/listarClases2Request" message="tns:listarClases2"/>
<output wsam:Action="http://publicadores/ControladorPublish/listarClases2Response" message="tns:listarClases2Response"/>
</operation>
<operation name="listarClases" parameterOrder="arg0 arg1">
<input wsam:Action="http://publicadores/ControladorPublish/listarClasesRequest" message="tns:listarClases"/>
<output wsam:Action="http://publicadores/ControladorPublish/listarClasesResponse" message="tns:listarClasesResponse"/>
</operation>
<operation name="registroADictadoClase" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://publicadores/ControladorPublish/registroADictadoClaseRequest" message="tns:registroADictadoClase"/>
<output wsam:Action="http://publicadores/ControladorPublish/registroADictadoClaseResponse" message="tns:registroADictadoClaseResponse"/>
<fault message="tns:RegistroAClaseRepetidoException" name="RegistroAClaseRepetidoException" wsam:Action="http://publicadores/ControladorPublish/registroADictadoClase/Fault/RegistroAClaseRepetidoException"/>
</operation>
<operation name="obtenerUsuario">
<input wsam:Action="http://publicadores/ControladorPublish/obtenerUsuarioRequest" message="tns:obtenerUsuario"/>
<output wsam:Action="http://publicadores/ControladorPublish/obtenerUsuarioResponse" message="tns:obtenerUsuarioResponse"/>
</operation>
<operation name="obtenerUsuarioReal">
<input wsam:Action="http://publicadores/ControladorPublish/obtenerUsuarioRealRequest" message="tns:obtenerUsuarioReal"/>
<output wsam:Action="http://publicadores/ControladorPublish/obtenerUsuarioRealResponse" message="tns:obtenerUsuarioRealResponse"/>
</operation>
<operation name="obtenerClase">
<input wsam:Action="http://publicadores/ControladorPublish/obtenerClaseRequest" message="tns:obtenerClase"/>
<output wsam:Action="http://publicadores/ControladorPublish/obtenerClaseResponse" message="tns:obtenerClaseResponse"/>
</operation>
<operation name="obtenerClaseR">
<input wsam:Action="http://publicadores/ControladorPublish/obtenerClaseRRequest" message="tns:obtenerClaseR"/>
<output wsam:Action="http://publicadores/ControladorPublish/obtenerClaseRResponse" message="tns:obtenerClaseRResponse"/>
</operation>
<operation name="obtenerInstitucionActividad">
<input wsam:Action="http://publicadores/ControladorPublish/obtenerInstitucionActividadRequest" message="tns:obtenerInstitucionActividad"/>
<output wsam:Action="http://publicadores/ControladorPublish/obtenerInstitucionActividadResponse" message="tns:obtenerInstitucionActividadResponse"/>
</operation>
<operation name="obtenerActividad" parameterOrder="arg0 arg1">
<input wsam:Action="http://publicadores/ControladorPublish/obtenerActividadRequest" message="tns:obtenerActividad"/>
<output wsam:Action="http://publicadores/ControladorPublish/obtenerActividadResponse" message="tns:obtenerActividadResponse"/>
</operation>
<operation name="listarUsuarios">
<input wsam:Action="http://publicadores/ControladorPublish/listarUsuariosRequest" message="tns:listarUsuarios"/>
<output wsam:Action="http://publicadores/ControladorPublish/listarUsuariosResponse" message="tns:listarUsuariosResponse"/>
</operation>
<operation name="obtenerActividadR" parameterOrder="arg0 arg1">
<input wsam:Action="http://publicadores/ControladorPublish/obtenerActividadRRequest" message="tns:obtenerActividadR"/>
<output wsam:Action="http://publicadores/ControladorPublish/obtenerActividadRResponse" message="tns:obtenerActividadRResponse"/>
</operation>
<operation name="obtenerRankingActividadesDeportivas">
<input wsam:Action="http://publicadores/ControladorPublish/obtenerRankingActividadesDeportivasRequest" message="tns:obtenerRankingActividadesDeportivas"/>
<output wsam:Action="http://publicadores/ControladorPublish/obtenerRankingActividadesDeportivasResponse" message="tns:obtenerRankingActividadesDeportivasResponse"/>
</operation>
<operation name="obtenerTodasActividadesDeportivas">
<input wsam:Action="http://publicadores/ControladorPublish/obtenerTodasActividadesDeportivasRequest" message="tns:obtenerTodasActividadesDeportivas"/>
<output wsam:Action="http://publicadores/ControladorPublish/obtenerTodasActividadesDeportivasResponse" message="tns:obtenerTodasActividadesDeportivasResponse"/>
</operation>
<operation name="ModificarActividadDeportiva" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://publicadores/ControladorPublish/ModificarActividadDeportivaRequest" message="tns:ModificarActividadDeportiva"/>
<output wsam:Action="http://publicadores/ControladorPublish/ModificarActividadDeportivaResponse" message="tns:ModificarActividadDeportivaResponse"/>
</operation>
</portType>
<binding name="ControladorPublishPortBinding" type="tns:ControladorPublish">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="obtenerSociosClase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="obtenerProfesor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="obtenerSocio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="esSocio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="usuarioEnClase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="clasesProfe">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="LogIn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="altaInstitucion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
<fault name="InstitucionDeportivaRepetidaException">
<soap:fault name="InstitucionDeportivaRepetidaException" use="literal"/>
</fault>
</operation>
<operation name="listarInstitutos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="obtenerInstitucion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="ModificarInstitucion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="altaDictadoClase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
<fault name="DictadoRepetidoException">
<soap:fault name="DictadoRepetidoException" use="literal"/>
</fault>
</operation>
<operation name="listarActividadesDeportivas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="listarProfesores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="altaActividadDeportiva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
<fault name="ActividadDeportivaRepetidaException">
<soap:fault name="ActividadDeportivaRepetidaException" use="literal"/>
</fault>
</operation>
<operation name="listarSocios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="ModificarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="listarClases2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="listarClases">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="registroADictadoClase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
<fault name="RegistroAClaseRepetidoException">
<soap:fault name="RegistroAClaseRepetidoException" use="literal"/>
</fault>
</operation>
<operation name="obtenerUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="obtenerUsuarioReal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="obtenerClase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="obtenerClaseR">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="obtenerInstitucionActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="obtenerActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="listarUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="obtenerActividadR">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="obtenerRankingActividadesDeportivas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="obtenerTodasActividadesDeportivas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="ModificarActividadDeportiva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
</binding>
<service name="ControladorPublishService">
<port name="ControladorPublishPort" binding="tns:ControladorPublishPortBinding">
<soap:address location="http://127.0.0.1:1942/controlador"/>
</port>
</service>
</definitions>